{
  "openapi": "3.0.3",
  "info": {
    "title": "JuiceShop",
    "version": "1.0.0",
    "description": "Inferred OpenAPI 3.0 spec generated from Insomnia collection. Source file: /mnt/data/juice-shop-collection.json"
  },
  "servers": [
    {
      "url": "https://saftladen.automatisier.bar/"
    }
  ],
  "paths": {
    "/api/Users/": {
      "post": {
        "summary": "createNewUser",
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/rest/basket/{{_['_bid']}}": {
      "get": {
        "summary": "Verify1ItemInBasket",
        "description": "",
        "parameters": [],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "Basket content",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Basket"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/products/search": {
      "get": {
        "summary": "getAllProduct",
        "description": "",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": ""
          }
        ],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "Search results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Product"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/user/login": {
      "post": {
        "summary": "login",
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/BasketItems/": {
      "post": {
        "summary": "Add1ItemToBasket",
        "description": "",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BasketItem"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Added to basket",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BasketItem"
                }
              }
            }
          }
        }
      }
    },
    "/api/BasketItems/{{_['_product_1_basket_id']}}": {
      "delete": {
        "summary": "deleteItemFromBasket",
        "description": "",
        "parameters": [],
        "requestBody": null,
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "user@example.com"
          },
          "password": {
            "type": "string",
            "example": "password123"
          },
          "securityQuestion": {
            "type": "object",
            "properties": {
              "id": {
                "type": "integer"
              },
              "question": {
                "type": "string"
              }
            }
          },
          "securityAnswer": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "LoginRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        },
        "required": [
          "email",
          "password"
        ]
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "authentication": {
            "type": "object",
            "properties": {
              "token": {
                "type": "string",
                "description": "JWT token"
              },
              "bid": {
                "type": "integer",
                "description": "Basket id"
              }
            }
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "price": {
            "type": "number"
          }
        }
      },
      "BasketItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "ProductId": {
            "type": "integer"
          },
          "BasketId": {
            "type": "integer"
          },
          "quantity": {
            "type": "integer"
          }
        },
        "required": [
          "ProductId",
          "BasketId",
          "quantity"
        ]
      },
      "Basket": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "Products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
